 body {
    padding: 0px;
    margin: 0px;
}

.light .Main{
    background-color: rgb(73, 169, 152);
}

.light .header {
    background-color: rgb(19, 199, 175);
    padding: 10px 5px;
    text-align: end;
    align-items: center;
    position: relative; /* To position the menu properly */
}

.light .mButton,.light .button2 {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin: 7px 5px;
    background-color: rgb(253, 253, 253);
    transition: background-color 0.5s ease-in-out;
}

.light .mButton:hover {
    animation: colorChange 1s forwards;
    color: white;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
}

@keyframes colorChange {
    0% { background-color: #1ba162; }
    100% { background-color: #077d44; }
}

/* Style for the menu box */
.light .menu-box {
    position: absolute;
    right: 10px;
    top: 48px; /* Adjust based on header size */
    background-color: rgb(50, 50, 50);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.light .menu-box button {
    background-color: #18ed3f;
    color: black;
    border: 1px solid white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.7s;
}

.light .lightTheme:hover{
    background-color: white;
    color: black;
}
.light .DarkTheme:hover{
    background-color: black;
    color: white;
} 